{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/login" method="post" style="font-family: 'Andika New Basic', sans-serif;">
        <div>
            <p>you can always <a href="/register" >register</a> if you don't have an account.</p>
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
        <div>

        </div>
        <div>
            <p><a href="/forgotpswd">Forgot your password?</a></p>
        </div>
        
    </form>
{% endblock %}
