{% extends "layout.html" %}

{% block title %}
    Welcome
{% endblock %}

{% block main %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic:wght@700&display=swap');
    </style>
    <img class="border" src="static/welcome.jpg">
    <div style = "font-family: 'Andika New Basic', sans-serif;">
    <h1 style = "color: blue;">Things you can do here!</h1>
    <h2>Add products from Amazon and Flipkart</h2>
    <h2>Get notified if price fell down</h2>
    <h2>Get Weather of your city</h2>
    <h2>Get Nasa's Picture Of the Day</h2>
    <p>Thanks for Visiting. Have a great day ahead : )</p>
    </div>
{% endblock %}
